<nav>
    <ul>
        <li><a class="active" href="index.html">Home</a></li>
        <li>
            <a href="about.html">About
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
            </a>
            <ul>
                <li><a href="about.html#who-we-are">Who We Are</a></li>
                <li><a href="about.html#what-we-do">What We Do</a></li>
            </ul>
        </li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="index.html#contact">Contact</a></li>
    </ul>
</nav>