/* footer */
body footer {
    border-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #111;
    background-color: var(--footer-background-color);
  }
  
      body footer h2, body footer p, body footer a, body footer li a, body footer label {
          color: #fff !important;
          color: var(--footer-text-color) !important;
      }
      
      body footer label {
          display: block;
          width: 310px;
          padding: 0 0 5px 0;
          margin: 0 auto !important;
          text-align: left;
      }
  
      body footer .section-divider {
          background: #fff !important;
          margin-bottom: 50px;
      }
      
      body footer form {
          margin-bottom: 50px;
      }
      
      body footer p small {
          font-size: 0.85em;
      }
      
      body footer form input[type=text] {
          background-color: #fff !important;
          color: #111;
          width: 280px;
          margin: 0 0 25px 0;
          padding: 10px;
      }

      body footer form input[type=submit] {
          background-color: #fff;
          background-color: var(--footer-text-color);
          color: #111;
          color: var(--footer-background-color);
          border-radius: 20px;
          font-size: 0.9em;
          padding: 10px 40px;
      }
      
      body footer form textarea {
          background-color: #fff !important;
          color: #111;
          width: 300px;
          height: 100px;
          margin: 0 0 25px 0;
      }
      
      body footer form select {
          background-color: #fff !important;
          color: #111;
          width: 320px;
      }
  
      body footer ul {
      list-style: none;
      }
  
      body footer li {
      margin: 0;
      padding: 5px 0 5px 20px;
      display: inline-block;
      }
  
      body footer li a {
      font-size: 0.75em;
    }
    
      body footer li a.dropdown-item {
          color: #555 !important;
    }
    
    body footer ul li ~ li::before {
      content: '/';
      color: rgba(255,255,255,0.2);
      padding: 0 20px 0 0;
    }
    
    body footer nav a {
      text-decoration: none;
    }
  
    body footer .built-with {
      font-size: 0.85em;
    }
  
    body footer .built-with a {
      text-decoration: underline;
    }