/* hero blocks */
body .hero-block {
    position: relative;
    box-sizing: border-box;
    border-radius: 0;
    color: #fff;
    max-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

    body:not([editor-active]) .hero-block.hero-block-angled-bottom::after {
        position: absolute;
        content: " ";
        display: block;
        left: -5%;
        bottom: -40px;
        transform: rotate(-2deg);
        width: 110%;
        height: 70px;
        background-color: #fff;
    }

    body:not([editor-active]) .hero-block.hero-block-curved-top::before {
        position: absolute;
        content: '';
        top: -30px;
        right: -200px;
        left: -200px;
        border-radius: 100%;
        background-color: #fff;
        background-color: var(--hero-background-color);
        height: 50px;
        width: calc(100% + 400px);
        z-index: 10;
    }

  
    body .hero-block .col {
        position: relative;
        max-width: 600px;
        margin: 0 25px 0 25px;
        padding: 50px 50px 25px 50px;
        background: #fff;
        background-color: var(--hero-background-color);
        border-radius: 5px;
        box-shadow: -2px 2px 250px rgba(0,0,.05);
    }

    body .hero-block.hero-block-extend-background .col {
        background-color: transparent;
        box-shadow: none;
    }

    body .hero-block.hero-block-extend-background .extended-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        background-color: var(--hero-background-color);
        opacity: 0.8;
    }

    body .hero-block.hero-block-extend-background .color-splash-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        background-color: var(--hero-background-color);
    }

    body .hero-block.hero-block-center .col {
      margin: 0 auto;
    }
  
    body .hero-block h1 {
        margin: 0;
        padding: 0 0 25px 0;
        font-size: 2.5em;
        color: #111;
        color: var(--hero-text-color);
        text-shadow: 0 1px 3px rgba(0,0,0,.02);
    }
  
    body .hero-block p {
        margin: 0;
        padding: 0 0 25px 0;
        font-size: 1em;
        color: #111;
        color: var(--hero-text-color);
        text-shadow: 0 1px 3px rgba(0,0,0,.02);
    }
  
    body .hero-block a.button.primary, body .hero-block-center a.button.primary:hover {
        position: relative;
        font-size: 0.95em;
        background: transparent;
        color: #111;
        color: var(--hero-background-color);
        padding: 10px 40px 10px 40px;
        text-decoration: none;
        border-radius: 100px;
        text-shadow: none;
        margin-right: 10px;
        border-color: #111;
        border-color: var(--hero-text-color);
        background-color: #111;
        background-color: var(--hero-text-color);
    }

    body .hero-block a.button.secondary, body .hero-block-center a.button.secondary:hover {
        position: relative;
        font-size: 0.95em;
        background: transparent;
        color: #111;
        color: var(--hero-text-color);
        padding: 10px 40px 10px 40px;
          text-decoration: none;
          border-radius: 100px;
        text-shadow: none;
        margin-right: 10px;
        border-color: #111;
        border-color: var(--hero-text-color);
    }

    /* split-hero-block */
    body .split-hero-block .col:first-child {
        padding: 25px 0 0 0;
    }

    body .split-hero-block h1,
    body .split-hero-block p {
        color: #111;
        color: var(--hero-text-color);
        padding: 0 25px;
    }

    body .split-hero-block a.button.primary {
        position: relative;
        font-size: 0.95em;
        background: transparent;
        padding: 10px 60px 10px 40px;
        text-decoration: none;
        border-radius: 100px;
        text-shadow: none;
        margin-right: 10px;
        border-color: #111;
        color: var(--hero-text-color);
        color: #111;
        color: var(--hero-text-color);
    }
  
    body .split-hero-block a.button.primary svg {
      position: absolute;
      top: 10px;
      right: 10px;
      fill: #111;
      fill: var(--hero-text-color);
    }

    /* form */
    body .hero-block form {
        display: inline-block;
        padding: 15px 0;
    }

    body .hero-block .form-group {
        display: inline-block;
        padding: 0;
    }

    body .hero-block label {
        color: #fff;
        color: var(--hero-text-color);
    }

    body .hero-block input[type=text] {
        color: #fff;
        color: var(--hero-text-color);
        background: #111;
        background: var(--hero-background-color);
        border: 1px solid #fff;
        border: 1px solid var(--hero-text-color);
        padding: 7.5px 10px;
        border-radius: 5px;
        margin: 0 5px;
        font-size: 0.9em;
    }

    body .hero-block input[type=submit] {
        display: inline-block;
        color: #111;
        color: var(--hero-background-color);
        background: #fff;
        background: var(--hero-text-color);
        border-radius: 20px;
        padding: 7.5px 20px;
        border-radius: 5px;
        margin: 0 5px;
        font-size: 0.9em;
    }

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {

    /* hero */
    body .hero-block .col {
        margin: 0 10px;
    }

    body .hero-block a.button.primary, body .hero-block a.button.secondary {
        display: block;
        margin: 0;
        text-align: center;
    }

    body .hero-block a.button.primary {
        margin-bottom: 10px;
    }

    body .hero-block label {
        display: block;
        margin-bottom: 10px;
    }

    body .hero-block form, body .hero-block .form-group {
        display: block !important;
    }

    body .hero-block input[type=text], body .hero-block input[type=email] {
        display: block;
        width: calc(100% - 20px);
        margin: 0 0 15px 0 !important;
    }

    body .hero-block input[type=submit] {
        display: block;
        width: 100%;
        margin: 0;
    }

}