/* support google fonts bold, italic */
body b {
    font-weight: 700;
  }
  
  body i {
    font-style: italic;
    font-weight: 400;
  }
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
      display: block;
  }
  body {
      line-height: 1;
  }
  ol li, ul li {
      margin-left: 20px;
  }
  blockquote, q {
      quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
      content: '';
      content: none;
  }
  table {
      border-collapse: collapse;
      border-spacing: 0;
  }
  
  /* block margins */
  body h1, body h2, body h3, body h4, body h5, body p, body blockquote, body ul, body ol, body .image-container {
      margin: 0 0 25px 0;
      padding: 0;
  }
  
  body h1:last-child, body h2:last-child, body h3:last-child, body h4:last-child, body h5:last-child, 
  body p:last-child, body blockquote:last-child, body ul:last-child, body ol:last-child,
  body .image-container:last-child {
      margin-bottom: 0;
  }
  
  /* support editor */
  body[editor-active] header, body[editor-active] footer, body[editor-active] section.top {
      display: none !important;
  }
  
  [editor-active] main {
      padding-top: 25px;
  }

  /* screen toggles */
  body .small-screen {
    display: none;
  }
  
  body .big-screen {
    display: block;
  }

  /* Small devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    /* screen toggles */
    body .small-screen {
        display: block;
    }

    body .big-screen {
        display: none;
    }

    body .grid {
        display: block;
    }

    body .grid>col {
        display: block;
    }

    body .grid.two-column>.col {
        display: block;
        margin-bottom: 25px;
    }
  }

  
  /* vertical spacing */
  .grid[data-vertical-padding="small"] {
      padding-top: 25px;
      padding-bottom: 25px;
  }
  
  .grid[data-vertical-padding="medium"] {
      padding-top: 50px;
      padding-bottom: 50px;
  }
  
  .grid[data-vertical-padding="large"] {
      padding-top: 100px;
      padding-bottom: 100px;
  }
  
  .grid[data-vertical-padding="xlarge"] {
      padding-top: 200px;
      padding-bottom: 200px;
  }
  
  .grid[data-vertical-padding="xxlarge"] {
      padding-top: 300px;
      padding-bottom: 300px;
  }
  
  .grid[data-vertical-padding="xxxlarge"] {
      padding-top: 400px;
      padding-bottom: 400px;
  }
  
  /* top vertical spacing */
  .grid[data-top-vertical-padding="small"] {
      padding-top: 25px;
  }
  
  .grid[data-top-vertical-padding="medium"] {
      padding-top: 50px;
  }
  
  .grid[data-top-vertical-padding="large"] {
      padding-top: 100px;
  }
  
  .grid[data-top-vertical-padding="xlarge"] {
      padding-top: 200px;
  }
  
  .grid[data-top-vertical-padding="xxlarge"] {
      padding-top: 300px;
  }
  
  .grid[data-top-vertical-padding="xxxlarge"] {
      padding-top: 400px;
  }
  
  /* bottom vertical spacing */
  .grid[data-bottom-vertical-padding="small"] {
      padding-bottom: 25px;
  }
  
  .grid[data-bottom-vertical-padding="medium"] {
      padding-bottom: 50px;
  }
  
  .grid[data-bottom-vertical-padding="large"] {
      padding-bottom: 100px;
  }
  
  .grid[data-bottom-vertical-padding="xlarge"] {
      padding-bottom: 200px;
  }
  
  .grid[data-bottom-vertical-padding="xxlarge"] {
      padding-bottom: 300px;
  }
  
  .grid[data-bottom-vertical-padding="xxxlarge"] {
      padding-bottom: 400px;
  }
  
  /* horizontal spacing */
  .grid[data-horizontal-padding="small"] {
      padding-left: 25px;
      padding-right: 25px;
  }
  
  .grid[data-horizontal-padding="medium"] {
      padding-left: 50px;
      padding-right: 50px;
  }
  
  .grid[data-horizontal-padding="large"] {
      padding-left: 100px;
      padding-right: 100px;
  }
  
  .grid[data-horizontal-padding="xlarge"] {
      padding-left: 200px;
      padding-right: 200px;
  }
  
  /* inline images */
  .image-right {
      float: right;
      padding-left: 10px;
      padding-bottom: 10px;
  }
  
  .image-left {
      float: left;
      padding-right: 10px;
      padding-bottom: 10px;
  }
  
  /* border */
  .bottom-gray-border {
      border-bottom: 1px solid #f0f0f0;
  }
  
  /* grid */
  .grid {
      display: grid;
      max-width: 1000px;
      margin: 0 auto;
  }

  .grid.alternate-background {
      background-color: #f8f8f8;
      background-color: var(--alternate-background-color);
  }
  
  .vertical-center.grid {
      align-items: center;
  }
  
  .one-column.grid {
      display: block;
  }

  /* Medium devices (desktops, 992px and up) */
@media (min-width: 769px) {

    /* extend background to edges of screen */
    body:not([editor-active]) .extend-background {
      position: relative;
    }
  
    body:not([editor-active]) .extend-background:before {
      content:"";
      background: #f8f8f8;
      background-color: var(--alternate-background-color);
      position: absolute;
      height: 100%;
      width: 4000px;
      left: -2000px;
      z-index: -1;
    }
}
  
  /* Small devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .one-column.grid {
        display: block;
        width: auto !important;
    }

    /* screen toggles */
    body .small-screen {
        display: block;
    }

    body .big-screen {
    display: none;
    }
  }
  
  .grid .col {
      min-height: 0;  /* NEW */
      min-width: 0;   /* NEW; needed for Firefox */
  }

  .grid .col.span-2 {
    grid-column: 1 / 3;
  }

  .grid .col.span-3 {
    grid-column: 1 / 4;
  }
  
  .two-column.grid {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 3rem;
  }

  .two-column-auto-left.grid {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
  }

  .two-column-auto-right.grid {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    grid-gap: 3rem;
  }
  
  .two-column-weighted-right.grid {
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 1fr;
      grid-gap: 3rem;
  }
  
  .two-column-weighted-left.grid {
      grid-template-columns: 3fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 3rem;
  }
  
  .three-column.grid {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 3rem;
  }
  
  .four-column.grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-gap: 3rem;
  }
  
  .grid.full-width, .grid[data-width="full"] {
      max-width: 100%;
  }
  
  body .text-center {
      text-align: center;
  }
  
  body .text-left {
    text-align: left;
  }
  
  body .text-right {
      text-align: right;
  }
  
  .text-lighter {
      color: #888;
  }
  
  /* images */
  .responsive-image {
      width: 100%;
      max-width: 100%;
  }
  
  .round-image {
      border-radius: 50%;
  }
  
  .rounded-image {
      border-radius: 10px;
  }

  .responsive-image-fixed-250 {
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .responsive-image-fixed-500 {
    width: 100%;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  /* video */
  .responsive-video {
      width: 100%;
      max-width: 100%;
  }
  
  /* media elements */
  .media-element {
      padding-left: 120px;
      margin-bottom: 25px !important;
  }
  
  .media-element .media-text {
      padding: 0;
      margin: 0;
  }
  
  .media-element .media-author:before {
      content: "-"; color: #646464;
  }
  
  .media-element .media-author {
      color: #888;
      padding: 5px 0 0 0; margin: 0;
  }
  
  
  .media-element .media-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      text-align: center;
  }
  
  .media-element .media-image img {
      max-width: 100px;
  }
  
  /* helpers */
  .rounded-corners {
      border-radius: 5px;
  }
  
  /* background-image layout */
  body .background-image-layout {
      margin: 0;
      padding: 0;
    }
    
    body .background-image-layout .col {
      margin: 0;
      padding: 150px 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.25);
    }
    
    body .background-image-layout .col p {
        color: #fff;
        margin: 0 auto;
        padding: 0 20px;
        max-width: 500px;
        font-size: 35px;
        line-height: 45px;
    }

    body .background-image-layout .col p.social-byline {
        color: #fff;
        margin: 0 auto;
        padding: 20px 0 0 0;
        max-width: 500px;
        font-size: 25px;
    }
    
  /* Titles */
  body main .image-title-block .col {
    max-width: 1000px;
    margin: 0 auto;
  }

  body .section-divider {
    position: relative;
    margin: 0 auto 25px auto;
    height: 3px;
    width: 200px;
    background: #111;
    background: var(--highlight-color);
}