:root {

    --font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    --text-size: 15px;
  
    --background-color: #fff;
    --alternate-background-color: #f8f8f8;
    --headline-color: #111;
    --text-color: #333;
    --link-color: #428bca;
    --highlight-color: #111;
  
    --top-background-color: #111;
    --top-text-color: #fff;

    --header-background-color: #fff;

    --hero-background-color: #fff;
    --hero-text-color: #111;

    --navigation-background-color: #fff;
    --navigation-text-color: #111;

    --footer-background-color: #111;
    --footer-text-color: #fff;
  }