<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663472918608-192e3tv3anneh74e0htmt4o4d6olshbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663472918608-192e3tv3anneh74e0htmt4o4d6olshbj</string>
	<key>API_KEY</key>
	<string>AIzaSyArel5_iTF1SGfZnPjSM_pjQHsPfIPt9CI</string>
	<key>GCM_SENDER_ID</key>
	<string>663472918608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.flowby.dev</string>
	<key>PROJECT_ID</key>
	<string>flowby-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>flowby-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663472918608:ios:3b3a0ca36a3031a09b0155</string>
	<key>DATABASE_URL</key>
	<string>https://flowby-dev.firebaseio.com</string>
</dict>
</plist>