.app-upload {
  display: block;
  margin: 10px;
  padding: 0;
  text-align: center;
  color: #333;
  min-height: 100px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

.app-upload.highlight {}

.app-upload p {
  margin-top: 0;
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
}

.app-upload .app-upload-form {

}

.app-upload .app-upload-gallery {
  margin-top: 10px;
  display: none;
}

.app-upload .app-upload-gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.app-upload .app-upload-button {
  display: block;
  width: calc(100% - 10px);
  min-height: 80px;
  line-height: 80px;
  cursor: pointer;
  font-size: 0.9em;
  margin: 5px;
  border-radius: 2px;
  text-align: center;
}
.app-upload .app-upload-button:hover {
  background: #f8f8f8;
}

.app-upload .app-upload-skip {
  display: block;
  font-size: 0.8em;
  margin: 5px 0;
  padding: 0;
  text-align: center;
  color: #555;
}

.app-upload input[type=file]{
  display: none;
}

.app-upload-container {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 20005;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.app-upload-container-panel {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - 65px);
  background: #f4f5f6;
  width: 190px;
  padding: 5px;
  overflow: scroll;
}

.app-upload-container-image {
    position: absolute;
    top: 0;
    left: 200px;
    width: calc(100% - 200px);
    height: calc(100vh - 55px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-upload-canvas {
    width: 100%;
    z-index: 2;
}

.app-upload-container-image span {
    font-size: 13px;
    color: #888;
    font-style: italic;
}

.app-upload-container-actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}

.app-upload-container img{
    max-width: 100%;
    margin: auto;
}

.app-upload .app-upload-progress-bar {
    display: none;
}

.app-upload-container-actions button {
    background: none;
    font-size: 13px;
    color: #333;
    margin: 0 0 0 5px;
    border-radius: 25px;
    padding: 7.5px 25px;
    border: 1px solid #ddd;
}

.app-upload-container-actions button.app-upload-container-upload {
    border-color: #fa6900;
    color: #fff;
    background-color: #fa6900;
}

.app-upload-filter {
  position: relative;
  display: inline-block;
  margin: 5px;
  width: 85px;
  height: 85px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  vertical-align: top;
  cursor: pointer;
}

.app-upload-filter canvas {
  pointer-events: none;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 3;
  cursor: pointer;
}

.app-upload-filter a {
  pointer-events: none;
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: calc(100% - 8px);
  display: inline-block;
  z-index: 5;
  background-color: #111;
  color: #fff;
  padding: 2px;
  border-radius: 2px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}