body {
    margin: 0;
    padding: 0;
    background: #f9f9fb;
    width: 100%;
    height: 100%;
}

body * {
    font-family: "Open Sans", sans-serif;
}

body [hidden] {
    display: none;
}

body iframe#edit-frame {
    position: relative;
    display: block;
    margin: 60px auto 0 auto;
    border: 1px solid #ddd;
    width: calc(100% - 10px);
    height: calc(100vh - 110px);
    box-shadow: 0 0 25px #bbb;
    max-width: 1024px;
    z-index: 1;
    transition: all 0.25s ease;
    display: none;
}

body iframe#edit-frame[active] {
    display: block;
}

body iframe#edit-frame[mobile] {
    max-width: 500px;
}

/* menu */
body header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2;
}

body header a {
    position: relative;
    color: #555;
    font-size: 13px;
    padding: 10px 20px 10px 35px;
    margin: 0;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    text-decoration: none;
}

body header a[active] {
    color: #8360C3;
}

body header a:hover {
    border: 1px solid #f0f0f0;
    background-color: #fff;
    box-shadow: 0 0 25px #ddd;
}

body header a i.material-icons {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 14px;
}

body header .primary-menu {
    position: absolute;
    top: 10px;
    left: 5px;
}

body header .primary-menu a {
    background: url(/resources/triangulate-standalone-gray.svg) no-repeat 10px 12px;
    background-size: 18px;
}

body header .primary-menu a:hover {
    background: #fff url(/resources/triangulate-standalone.svg) no-repeat 10px 12px;
    background-size: 18px;
}

body header .secondary-menu {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 500px;
    text-align: right;
}

/* circle-button */
.circle-button {
    display: block;
    width: 54px;
    height: 54px;
    font-size: 30px !important;
    line-height: 54px;
    position: fixed;
    bottom: 65px;
    right: 50px;
    text-align: center;
    background-color: #2EBF91;
    z-index: 2;
    color: #fff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px #bbb;
    border: 2px solid #fff;
    transition: all 0.1s ease;
    outline: 0;
}

.circle-button:hover {
    box-shadow: 0 0 25px #aaa;
    transform: rotate(90deg);
    background-color: #8360C3;
}

.circle-button i.material-icons {
    font-size: 28px !important;
}

/* footer */
body footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    width: 100vw;
    height: 50px;
    text-align: right;
    z-index: 2;
}

body footer button {
    background-image: linear-gradient(-135deg, #2EBF91 0%, #8360C3 100%);
    height: 40px;
    line-height: 40px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    border: none;
    padding: 0 25px;
    font-size: 13px;
    color: #fff;
    box-shadow: 0 0 5px #bbb;

}

/* app-modal */
body .app-fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background: #fff;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.3s ease;
}

body .app-fullscreen-modal[active] {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

body .app-fullscreen-modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

body .app-fullscreen-modal-frame {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: none;
    border: none;
}

/* toast */
body .site-toast {
  display: block;
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  position: fixed;
  z-index: 1002;
  top: 10px;
  left: 50%;
  width: 500px;
  background-color: #fff;
  margin: -300px 0 0 -250px;
  text-align: left;
  padding: 10px 40px;
  line-height: 20px;
  color: #FFF;
  background-color: #345A6F;
  z-index: 100005;
  transition: all 0.25s ease;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
}

body .site-toast .loading-icon {
  position: absolute;
  top: 0;
  left: 10px;
  width: 20px;
}

body .site-toast[success] {
  background-color: #2AB442;
  border: 1px solid #2AB442;
  color: #fff;
}

body .site-toast[failure] {
  border: 1px solid #CF4647;
  background-color: #CF4647;
  color: #fff;
}

body .site-toast[loading] {
  background-color: #3ea8e5;
  border: 1px solid #3ea8e5;
  color: #fff;
}

body .site-toast[active] {
  transition: all 0.15s ease;
  margin-top: 0;
}