<div class="one-column grid title-block"  data-width="default" data-horizontal-padding="small" data-vertical-padding="medium">
    <div class="col">
        <h1 class="page-title">{{page.title}}</h1>
        <p class="page-description">{{page.description}}</p>
    </div>
</div>

<div class="one-column grid"  data-width="default" data-horizontal-padding="small" data-vertical-padding="small">
    <div class="col">
        
        <form site-widget="form">

            <div class="form-group">
                <label>* Name</label>
                <input type="text" name="name" required="">
            </div>

            <div class="form-group">
                <label>* Email</label>
                <input type="text" name="email" required="">
            </div>
            
            <div class="form-group">
                <label>Message</label>
                <textarea name="details"></textarea>
            </div>

            <input type="submit" class="button" value="Get in touch">

        </form>
        <!-- form -->

    </div>
    <!-- .col -->
</div>
<!-- .grid -->