<div class="one-column grid title-block"  data-width="default" data-horizontal-padding="small" data-vertical-padding="medium">
    <div class="col">
        <h1 class="page-title">{{page.title}}</h1>
        <p class="page-description">{{page.description}}</p>
        <p class="byline">By {{page.firstName}} {{page.lastName}} &mdash; {{page.lastModifiedDate}} &mdash; <a href="{{page.url}}">Permanent Link</a></p>
    </div>
</div>

<div class="one-column grid article-block" data-width="default" data-horizontal-padding="small" data-vertical-padding="medium">
    <div class="col">
        <p>Start writing your article here.</p>
    </div>
</div>